@model Customer

<section class="panel panel-default">
    <div class="panel-body">
        First Name: @Model.FirstName <br />
        Last Name: @Model.LastName <br />
        Email: @Model.Email <br />
        Favorite Color: @Model.FavoriteColor
    </div>
</section>